$base-font-size: 14px;
$base-font-color: #333;
$base-line-height: 1.42857143; // height: 20px;
$base-border-color: #ccc;
$base-font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Helvetica,
Arial,
sans-serif;
