/**
 * application main
 */

.app-main {
  position: absolute;
  top: 53px;
  bottom: 0;
  left: 0;
  right: 0;
  .app-main-inner {
    height: 100%;
  }
}

.app-slogan {
  text-align: center;
  margin-top: 100px;
}
